<% provide(:title, 'About') %>
<% provide(:header, 'About') %>

<div class="center">
    <p>This page discusses about the features of the website, and technologies used.</p>
    <p>This website is made using <b>Ruby on Rails</b>. You can find the source code on Github at <a href="https://github.com/HarshdipD/share-the-ride" target="_blank">HarshdipD/share-the-ride</a></p>
    <h3>Developed by</h3>
    <br>
    <div class="row center">
        <div class="col-lg-2">
            <!-- nothing -->
        </div>
        <div class="col-lg-3">
            <img src="https://avatars1.githubusercontent.com/u/31940194?s=460&v=4" class="contact_dev_image" alt="image">
            <h4>Harshdip Singh Deogan</h4>
            <p>Computer Science Student and Software Developer</p>
            <p><b>Website: </b><a href="https://hsdeogan.com" target="_blank">hsdeogan.com</a></p>
            <p><b>Github: </b><a href="https://github.com/HarshdipD" target="_blank">HarshdipD</a></p>
        </div>
        <div class="col-lg-2">
            <!-- nothing -->
        </div>
        <div class="col-lg-3">
            <!--<h4>Aman Patel</h4>
            <p>pee poo</p>-->
        </div>
        <div class="col-lg-2">
            <!-- nothing -->
        </div>
    </div>
</div>