<% provide(:title, 'Contact') %>
<% provide(:header, 'Contact') %>
<div class="center">
    <p>Found a problem? Want to offer a new feature? Please head over to the <a href="https://github.com/HarshdipD/share-the-ride">Github</a> page!
    <br>
</div>