<% provide(:title, 'Home') %>
<% provide(:header, 'Home') %>

<div class="center">
<p>Share the Ride is a simple and easy to use web app to help you find your next ride or carpool!</p>
<!-- buttons to redirect to sign up and log in pages will be placed here -->
<p><%= link_to 'Sign up', signup_path, class: 'btn btn-primary' %> or <%= link_to 'Log in', signup_path, class: 'btn btn-primary' %></p>
</div>