<% provide(:title, 'Home') %>
<% provide(:header, 'Home') %>

<div class="container center">
<p>Share the Ride is a simple and easy to use web app to help you find your next ride or carpool!</p>
<!-- buttons to redirect to sign up and log in pages will be placed here -->
<p>Sign up or log in</p>
</div>